.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    margin: 10px;
    display: inline-block;
}

.card-body {
    padding: 2px 16px;
}

.card-img-top {
    width: 100%; /* Faz com que a imagem ocupe a largura total do card */
    height: auto; /* Mantém a proporção da imagem */
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-link {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: inherit; /* Mantém a cor do texto igual ao resto do card */
}

.card-link:hover {
    /* Estilos para o hover podem ser adicionados aqui, se desejado */
}

.card-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.card-text {
    font-size: 14px;
    color: grey;
}
