:root {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #efe2ea;
  color: #494b53;
  font-family: "Epilogue", sans-serif;
}
